body {
    background-color: white;
  }
.main {
    position: absolute;
    width: 600px;
    position: absolute;
    left: 50%;
    margin-left: -300px;
    background-color: whitesmoke;
    border-style: solid;
    border-color: gray;
    padding: 0px;
}

h1 {
    background-color: darkgrey;
    color: darkblue;
    text-align: center;
    margin: 0px;
    padding:20px;
    border-style: solid;
    border-color: gray;
    border-width: 1px;
  }
h3 {
    color: darkblue;
    text-align: center;
  }

p {
  text-align: center;
  }

.bloque {
  float: left;
  width: 200px;
  }

.contenedor1 {
  position: relative;
  width: 600px;
  height: 60px;
  padding: 0px 0px;
  }

.contenedor2 {
  position: relative;
  width: 600px;
  height: 30px;
  padding: 0px 0px;
  margin: 40px 0px;
  }

.contenedor3 {
    position: relative;
    width: 600px;
    height: 30px;
    padding: 0px 0px;
    margin: 20px 40px;
    }

.boton {
  float: left;
  text-align: center;
  margin: 0px 0px 0px 40px;
}

.resultado {
  border-style: solid;
  border-color: gray;
  border-width: 1px;
  width: 400px;
  float: right;
  padding: 3px 10px;
  background-color: lightgray;
  text-align: right;
  color: darkblue;
  font-size: 16px;
  font-weight: bold;
  margin-right: 40px;
}

.cajatexto {
  width: 100px;
  height: 20px;
  margin-top: 10px;
}

.textoBanda {
  float: left;
  width: 200px;
  height: 30px;
  text-align:center;
}
